* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to left, rgb(2, 2, 77), rgb(0, 46, 73));
    /* background:linear-gradient(to left,rgb(255, 178, 251),rgb(174, 225, 255)); */
    background-attachment: fixed;
    color: white;
}

header {
    display: flex;
    position: sticky;
    border: 2px solid white;
    width: 100%;
    margin: 3vh 2vw;
    top: 20px;
    z-index: 10;
    /* filter: blur(10px);  */


}

nav .right {
    display: flex;
    border: 0px;
    margin: 0px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.308);
    backdrop-filter: blur(10px);
    /* box-shadow: 3px 3px 3px black; */

    /* background:linear-gradient(to left,rgb(0, 46, 73),rgb(2, 2, 77)); */
    border: 2px solid rgb(223, 240, 255);
    /* border-left: 1px solid rgba(255, 255, 255, 0.192); */
    /* border-top: 1px solid rgba(255, 255, 255, 0.199); */
    outline: none;
    border-radius: 35px;
    /* margin: 10px 40px; */

}

nav ul {
    display: flex;
    justify-content: center;
    margin-right: 30px;

}

nav ul li {
    list-style: none;
    margin: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    color: rgb(128, 128, 228);
    transform: translateY(-20px);
    /* font-weight: bold; */

}



.Heading {
    margin-left: 40px;
    font-size: 1.6rem;
}

footer {
    position: relative;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    display: flex;
    /* width: 100vw; */
    /* flex-shrink: 1; */
    background-color: rgba(44, 44, 44, 0.363);
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 0;
    margin: 0;

    /* border-radius: 40px; */



}

footer * {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
}

footer ul {
    /* border: 1px solid rgb(255, 192, 2); */
}

footer ul li {
    list-style: none;
    flex-shrink: 1;
    /* border: 1px solid rgb(0, 255, 47); */
}

footer ul li a {

    text-decoration: none;
    color: white;
    /* border: 1px solid rgb(255, 255, 255); */
}

footer .quickLinks {
    position: absolute;
    left: 300px;
    padding-top: 20px;
    /* margin-top: 20px; */
    display: flex;
    height: inherit;
    justify-content: start;
    align-items: center;
    /* border: 1px solid red; */
    font-size: 0.9rem;
    /* padding: 20px; */

}

footer .quickLinks ul {

    justify-content: start;
    align-items: start;
    height: inherit;
    width: inherit;
    /* margin-top: 30px; */

}

footer .quickLinks ul li {

    /* align-items: start; */
    /* justify-content: start; */
    /* border: 2px solid gray; */
    margin: 10px 0px;

}




footer .socialMediaLinks {
    position: absolute;
    bottom: 30px;
    /* right: 20px; */
    /* left: 0px; */
    /* height: inherit; */
    /* margin: 30px; */
    /* border: 2px solid rgb(255, 0, 0);     */
    /* justify-self: end; */
    /* align-self: end; */
    /* padding: 0px 23px 23px 23px; */
}

footer .socialMediaLinks ul {

    /* margin: 20px    0px; */
    flex-direction: row;

    /* border: 2px solid rgb(0, 255, 8);  */
}

footer .socialMediaLinks ul li {
    /* border: 2px solid rgb(252, 252, 0);  */
}

footer .socialMediaLinks ul li a {
    /* border: 2px solid rgb(255, 1, 217);  */
    margin: 15px;
}

footer .socialMediaLinks img,
.contactMe img {
    height: 30px;
    width: 30px;
}

footer .backToTop {
    position: absolute;
    top: -30px;
    filter: invert();
}

footer .backToTop img {
    width: 60px;
    height: 60px;
}

footer .copyrightBar {
    display: none;
    position: absolute;
    bottom: 0px;
    /* bottom: 0px; */
    /* z-index: 10; */
    /* align-self: end; */
    background-color: rgb(0, 3, 38);
    /* justify-self:center ; */
    /* border: 2px solid red; */
    padding: 5px 0px;
    width: 100%;
    /* padding: 20px; */
}


footer .contactMe {
    position: absolute;
    top: 70px;
    width: 30%;
    /* border: 2px solid red; */
}

footer .contactMe ul {
    /* border:2px solid orange; */
    align-items: start;



}

footer .contactMe ul li {
    /* border: 2px solid white; */
    justify-content: flex-start;
    width: inherit;
    flex-grow: 1;
    flex-direction: row;
    padding: 10px;
    gap: 20px
}