

main hr {
    border: 0;
    border-radius: 100%;
    background: rgb(131, 91, 250);
    height: 1vh;
    margin: auto 90px;

}



.firstsection {
    justify-content: space-around;
    display: flex;
    margin: 80px;
}

.leftsection {
    /* background-color: black; */
    font-size: 3rem;
    margin: 30px;
    /* background-color: black; */

}

.rightsection {
    /* background-color: black; */
    display: flex;
    justify-content: center;


}

.rightsection img {

    margin: 0px 60px;
    width: 60%;

}

.firstsection>dev {
    width: 30%;

}

.purple {
    color: rgb(255, 145, 42);
}

#element {
    color: rgb(134, 132, 255);
}

.secondsection {
    margin: 40px;
    /* color: rebeccapurple; */
}

.text_gray {
    color: gray;
}

